{% extends "::base.html.twig" %}

{% block title %}AppBundle:CoteLivreurControleur:CommandeTerminé{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JS/jquery-3.1.1.js') }}" type="text/javascript"></script>
    <script>

        $(function () {

            setInterval(function () {
                window.location.reload();
            }, 10000);
        });
    </script>
{% endblock %}

{% block body %}
    <h1> Liste des Commandes terminées du Livreur </h1>
    <table>
        <tr>
            <th>Date de commande</th>
            <th>Adresse de réception</th>
            <th>Date de réception</th>
            <th>Adresse de livraison</th>
            <th>Date de livraison</th>
            <th>Frais de livraison</th>
            <th>Etat</th>
        </tr>
        {%for cmdAct in commandesLiv %}
            <tr>
                <td>{{cmdAct.dateCommande | date}}</td>
                <td>{{cmdAct.adresseReception}}</td>
                <td>{{cmdAct.dateReception | date}}</td>
                <td>{{cmdAct.adresseLivraison}}</td>
                <td>{{cmdAct.dateReception | date}}</td>
                <td>{{cmdAct.fraisLivraison}}</td>
                <td>{{cmdAct.etat}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
