<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <h2> Menu </h2>

    <div id="connexionClient">
        {#        {{ app.user.getLogin() }}#}
        {% if not is_granted("ROLE_LIVREUR") %}
            <fieldset>
                <legend>Espace Client</legend>

                {% if (app.user) %}
                    Bienvenue {{app.user.getLogin()}}
                    <a href="{{path('listerCommande')}}">Liste des commandes</a>
                    <a href="{{path('creerCommande')}}">Créer une commande</a>
                    <a href="{{path('logout')}}">Deconnexion</a>
                {% else %}
                    <a href="{{path('inscriptionClient')}}">Inscription</a>
                    <a href="{{path('login')}}">Connexion</a>
                {% endif %}

            </fieldset>
        {% endif %}
    </div>

    <div id="connexionLivreur">
        {% if not is_granted("ROLE_CLIENT") %}
            <fieldset>
                <legend>Espace Livreur</legend>

                {% if (app.user ) %}
                    Bienvenue {{app.user.getLogin()}}
                    <a href="{{path('logout')}}">Deconnexion</a>
                {% else %}
                    <a href="{{path('login')}}">Connexion</a>
                {% endif %}

            </fieldset>
        {% endif %}
    </div>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block footer %}
    par Alexis, Hélène, et Warsama
{% endblock %}
</body>
</html>
