{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des administrateurs</h1>

    <div class="row">
        <div class="col-lg-9">     

            <div class="table-responsive">

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Telephone</th>
                            <th>Mail</th>
                            <th>Login</th>
                            <th>Mdp</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                            <tr>
                                <td><a href="{{ path('admin_show', { 'id': admin.id }) }}">{{ admin.id }}</a></td>
                                <td>{{ admin.nom }}</td>
                                <td>{{ admin.prenom }}</td>
                                <td>{{ admin.telephone }}</td>
                                <td>{{ admin.mail }}</td>
                                <td>{{ admin.login }}</td>
                                <td>{{ admin.mdp }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('admin_show', { 'id': admin.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_edit', { 'id': admin.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('admin_new') }}">Create a new admin</a>
        </li>
    </ul>
{% endblock %}
