{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ admin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ admin.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ admin.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ admin.mail }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ admin.login }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ admin.mdp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': admin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
