{% extends "::base.html.twig" %}

{% block title %}AppBundle:CoteClientControleur:creerCommande{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JS/jquery-3.1.1.js') }}" type="text/javascript"></script>
    <script>
        
        $(function(){
            
            setInterval(function(){
                window.location.reload();
            }, 10000);
        });
    </script>
{% endblock %}

{% block body %}
    <h1> Liste de mes commandes </h1>

    <table>
        <tr>
            <th>Date de commande</th>
            <th>Adresse de Réception</th>
            <th>Adresse de Livraison</th>
            <th>Frais de Livraison</th>
            <th>Etat</th>
        </tr>
        {%for cmdAct in commandesCli %}
            <tr>
                <td>{{cmdAct.dateCommande | date}}</td>
                <td>{{cmdAct.adresseReception}}</td>
                <td>{{cmdAct.adresseLivraison}}</td>
                <td>{{cmdAct.fraisLivraison}}</td>

                {% if (not cmdAct.dateReception is null) %}
                    <td> réceptionnée par {{ cmdAct.livreur }} à {{cmdAct.dateReception | date}} </td>
                    {#                {% if (not cmdAct.dateLivraison is null) %}#}
                    <td> <a href="{{ path("terminerCommande", {idCommande:cmdAct.id} ) }}" >terminer la commande</a></td>
{#                {% endif %}#}
                {% endif %}

                {% if (cmdAct.etat=="ATTRIBUEE") %}
                    <td> choisie par {{ cmdAct.livreur }}  </td>
                {% elseif (cmdAct.etat=="LIVREE") %}
                    <td> Livrée  à  {{cmdAct.dateLivraison | date}} </td>
                {%else%}
                    <td>{{cmdAct.etat}}</td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>

{% endblock %}
