{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Client</h1>

      <div class="table-responsive">

        <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ client.mail }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ client.login }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ client.mdp }}</td>
            </tr>
        </tbody>
    </table>
      </div>
             <ul class="list-unstyled list-inline">

    <ul>
        <li>
            <a href="{{ path('client_index') }}"class="btn btn-primary" >Retour à la liste</a>
        </li>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}"class="btn btn-warning" >Modifier</a>
        </li>
        </li>
        <li>
            {{ form_start(delete_form) }}
                 <input type="submit"  value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
